weight-in-page {
    position: fixed;
    left: 0;
    top: 0;
    margin-right: 300px;
}

weight-in-sidebar-component {
    position: fixed;
    top: 0;
    width: 300px;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 600ms ;
}